<ng-container>
  <div class="tabs">
    <button class="tab-button" (click)="selectedTab='faces';getFaceInfos()"
      [ngClass]="{'active':selectedTab==='faces'}">Faces</button>
    <button class="tab-button" (click)="selectedTab='images';getFaceInfos()"
      [ngClass]="{'active':selectedTab!=='faces'}">Images</button>
  </div>
  <h2>{{selectedTab==='faces' ? 'Faces' : 'Images'}}</h2>
  <hr />
  <small *ngIf="selectedTab==='faces'"> Double Click the Face to Personalize Name</small>
  <div *ngIf="selectedTab === 'faces'" class="face-container">

    <div class="container-sub" *ngIf="faceInfos.length">
      <div *ngFor="let faceInfo of faceInfos">
        <app-face-image [imageId]="faceInfo.faceId" [imageName]="faceInfo.faceName" [isFaceImage]="true">

        </app-face-image>
      </div>
    </div>
    <div *ngIf="!faceInfos.length">
      <p>No face found.</p>
    </div>

  </div>
  <div *ngIf="selectedTab === 'images'">
    <app-image-search>

    </app-image-search>
  </div>
</ng-container>