.face-container {
    display: ruby-text;
    .container-sub {
        display: flex;
        flex-wrap: wrap;
    }
}

.tab-button {
    margin: 5px;
    border: none;
    padding: 15px;
    &.active {
        background-color: dimgray;
    }
}